Template Name<br>
<%= f.text_field :name %>
<p>
Select the <b><u>.csv file </u></b>containing the upload information.<br>
<%= f.file_field :document, :size => 60 %>
<%= f.hidden_field :document_cache, :size => 60 %>
<% if @upload_template.document? %><br>Current upload file: <%= @upload_template.document.file.filename %><% end %>
</p>
