      <center><h3>Database Tables</h3></center>
        <ul list-style-type="none">
           <% $TABLE_ARR.each do |table| %>
		     <% @t = table.name %>
             <li><%= link_to_remote @t, :url => {:controller => :database_tables, :action => :show, :table_name => @t} %></li>
           <% end %>
        </ul>
