<% @tname = @table.name.pluralize.downcase %>
<h3><%= @tname %> columns</h3>
<%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;" %>
  <div id="columns-container">
<table border="1" cellspacing="0">
  <tr>
    <th>&nbsp; Description &nbsp;</th>
    <th>&nbsp; Table &nbsp;</th>
    <th>&nbsp; Column &nbsp;</th>
    <th> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
  </tr>

    <% for column in @table.column_names %>
	  <%= format_row(column) unless format_row(column) == "" %>
    <% end %>

    </table>
  </div>