<h3>Input File Columns</h3>
<table border="1" cellspacing="0">
  <tr>
    <th>Seq #</th>
    <th>Input Column</th>
    <th>Database Table</th>
    <th>Database Field</th>
	<%= "<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>" if controller.controller_name == "data_columns" %>
  </tr>
    <%= render :partial => "data_columns/data_map", :collection => @data_columns %>
</table>
