<h2>Ruby Sultan: Main Menu</h2>
<br>
<%= link_to_remote "Administration", :url => {:controller => :admins, :action => :index, :method => :get} %>
<br><br>
<%= link_to "Excel Upload", :excel_uploads %>
