<h2>New Template</h2>

<% form_for @upload_template, :html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'upload_form', :object => @upload_template, :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', upload_templates_path %>
