<table class="data_table" border="1" cellspacing="0">
  <tr>
    <th>Seq #</th>
    <th>Excel Column</th>
    <th>Database Table</th>
    <th>Database Field</th>
    <th> </th>
  </tr>
  <div id="column-map">
    <%= render :partial => "column_map", :collection => @excel_columns %>
  </div>
</table>