<h1>New Excel Template</h1>

<% form_for @excel_upload, :html=>{:multipart=>true} do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'upload_form', :object => @excel_upload, :locals => {:f => f} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', excel_uploads_path %>
